on: [push, pull_request]
name: lint
jobs:
  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust toolchain
        run: rustup show && rustup update
      - name: cargo fmt
        run: cargo fmt --all -- --check

  clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust toolchain
        run: rustup show && rustup update
      - name: cargo clippy
        run: cargo clippy --workspace --all-features --tests -- -D warnings

  readme:
    name: cargo readme
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo +stable install cargo-readme
      - run: cd ciborium-io && cargo readme > README.md
      - run: cd ciborium-ll && cargo readme > README.md
      - run: cd ciborium && cargo readme > README.md
      - run: git diff --exit-code
