on: [push, pull_request]
name: test
jobs:
  test:
    name: test ${{ matrix.toolchain }} ${{ matrix.profile.name }} ${{ matrix.crates.name }} ${{ matrix.crates.feat }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path=${{ matrix.crates.name }}/Cargo.toml ${{ matrix.profile.flag }} --no-default-features --features=${{ matrix.crates.feat }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - nightly
        crates:
          - {name: ciborium-ll}
          - {name: ciborium}
          - {name: ciborium, feat: std}
        profile:
          - {name: debug}
          - {name: release, flag: --release}
